# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# Fichiers crées automatiquement
chrome/style.css
firefox/data/
chrome/icon-*
chrome/lib
chrome/addons

#Apple 
*.DS_Store
safari/safari.safariextension/manifest.json
safari/safari.safariextension/style.css
safari/safari.safariextension/addons
safari/safari.safariextension/icon-*